@import "fonts";
// LightMode
$lm-color-primary-blue: #3D1DF6;
$lm-color-primary-black: #222324;
$lm-color-primary-white: #ffffff;

$lm-color-secondary-blackest: #000000;
$lm-color-secondary-darkGrey: #B2B7C2;
$lm-color-secondary-middleGrey: #D1D6E1;
$lm-color-secondary-lightGrey: #F7F8FA;

$lm-color-accent-orange: #F44508;
$lm-color-accent-darkOrange: #EE3E00;
$lm-color-accent-green: #51C229;
$lm-color-accent-darkGreen: #39A712;
$lm-color-accent-darkBlue: #4126DC;
// DarkMode
$dm-color-primary-blue: #3D1DF6;
$dm-color-primary-black: #1C1C1D;
$dm-color-primary-lightGray: #F7F8FA;

$dm-color-secondary-darkGray: #2B2B2F;
$dm-color-secondary-middleGray: #525260;
//$dm-color-secondary-gray: #???;

$dm-color-accent-orange: #FF4200;
$dm-color-accent-darkOrange: #EE3E00;
$dm-color-accent-green: #5FD037;
$dm-color-accent-darkGreen: #2FA904;
$dm-color-accent-darkBlue: #4126DC;

// spacing
$base-spacing: 20px;
$half-spacing: $base-spacing/2;

